.container {
    width: 1000px;
    margin: 20px auto;
}

.title {
    color: #2B292D;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.29px;
    line-height: 56px;
    text-align: center;
    margin: 10px auto;
}

.subtitle {
    color: #2B292D;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 34px;
    text-align: center;
    margin: 10px auto;
}