.password {
    color: #666666;
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
}

.button {
    text-align: center;
    color: #FFA05A;
}
