.container {
    width: 450px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.name {
    width: 250px;
    color: #3C3C3C;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.29px;
    line-height: 56px;
    text-align: center;
    margin: 20px auto;
}

.description {
    height: 100px;
    width: 400px;
    color: #3C3C3C;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 27px;
    margin: 20px auto;
}

.button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}