.Main {
    margin-top: 40px;
}

.container {
    height: 101vh; /* prevent header shifts left/right during page switching  */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

