.Main {
    margin-top: 80px;
<<<<<<< Updated upstream
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}
=======

}
>>>>>>> Stashed changes
