.main{
    position: relative;
    height: 780px;
}

.upSide{
    position: absolute;
    top: 0;
    left: 12px;
    right:12px;
    height: 50px;
    padding: 20px;
}
.bottomSide{
    top:150px;
}

.margin1{
    width: 300px;
    margine:0 auto;
    height: 50px;


}

.margin2{
    width: 300px;
    margine:0 auto;
    height: 50px;


}
.margin3{
    width: 300px;
    margine:0 auto;
    height: 50px;


}
.subtitle{
    color: black;
    font-size: 23px;
    font-weight: bold;
    text-align: center;

}
.textBox{
    width: 300px;
    margine:0 auto;
    height: 45px;
}

.pageTitle{
    color: black;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    width: 100%;

}
.LoginButton{
    width: 300px;
    height:50px;
    margine:0 auto;
}
.subLetter{
    width: 300px;
}
.orLetter{
    text-align: center;
}
.upSide{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100vw;
}
.left{

    margin-left:350px;
}

.middle{
    margin-left: 450px;
}

.right{
    margin-left:530px;
}