.title {
    color: #3C3C3C;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.21px;
    line-height: 56px;
    text-align: center;
    margin: 20px auto;
}