.container {
    height: 360px;
    margin-top: 40px;
    text-align: center;
}

.container1 {
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
    height: 200px;
    width: 100vw;

}

.copyright {
    padding: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
    opacity: 0.64;
    color: #FFFFFF;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;

}

.left {
    margin-left: 360px;
}

.middle {
    margin-left: 400px;
}

.right {
    margin-left: 350px;
}

.bigLetter {
    color: #FFFFFF;
    font-family: "Helvetica Neue Bold", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.sLetter {
    color: #FFFFFF;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
}

