.container {
    height: 320px;
    margin-top: 40px;
    text-align: center;
}

.content {
    height: 270px;
    width: 1000px;
    display: flex;
    margin: 20px auto;
}

.copyright {
    height: 15px;
    width: 400px;
    opacity: 0.64;
    color: #FFFFFF;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
    text-align: center;
    margin: 10px auto;
}