.title {
    color: #3C3C3C;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.21px;
    line-height: 16px;
    text-align: center;
    margin: 20px auto;
}

.subtitle {
    color: rgba(60,60,60,0.57);
    font-family: "Helvetica Neue";
    font-size: 12px;
    letter-spacing: -0.11px;
    line-height: 4px;
    text-align: center;
}