body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif,
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Helvetica Neue', sans-serif,
    monospace;
}
