.container {
    width: 400px;
    height: 600px;
}

.title {
    height: 24px;
    width: 300px;
    color: #FFFFFF;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;
    margin: 400px auto 20px auto;
}

.content {
    height: 90px;
    width: 320px;
    color: #FFFFFF;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
    margin: 20px auto;
    white-space: pre-wrap;
}

.line {
    margin: 0;
    white-space: pre-wrap;
}
